<a href="https://colab.research.google.com/github/itsmir24/Working-in-Python/blob/main/Analysis_Of_Titanic_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import files
from google.colab import files
Data=files.upload()

Saving titanic - titanic.csv.csv to titanic - titanic.csv.csv

In [ ]:
#import necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv("/content/titanic - titanic.csv.csv")

In [ ]:
#first 5 rows
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#age the no. of rows & columns
df.shape

(891, 12)

In [ ]:
#information of data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
#check the null it gives the output in terms of boolean values (i.e missing values=True (1) not missing values=False(0))
df.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
#it will sum of all the 1 & 0
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#percentage of missing values
df.isnull().sum()/len(df)*100

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

In [ ]:
#select two specific columns that need missing value treatment
df[['Age', 'Embarked']]

      Age Embarked
0    22.0        S
1    38.0        C
2    26.0        S
3    35.0        S
4    35.0        S
..    ...      ...
886  27.0        S
887  19.0        S
888   NaN        S
889  26.0        C
890  32.0        Q

[891 rows x 2 columns]

**Data Cleaning**

In [ ]:

#impute the missing values in average columns with the average age
df['Age'] = df['Age'].fillna(df['Age'].mean())

In [ ]:
df['Age'].isna().sum()

0

In [ ]:
#the mode gives the o/p in series but we need to pick the  mode value
mode_emb = df['Embarked'].mode()[0]
mode_emb

'S'

In [ ]:
#we need to impute the embarked column with the mode value .Alse using inplace parameter rather than using the column value itself
df['Embarked'].fillna(mode_emb,inplace=True)

<ipython-input-19-d79044dddd07>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(mode_emb,inplace=True)

In [ ]:
#check for the missing value
df['Embarked'].isna().sum()

0

In [ ]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [ ]:
#there is two possible way either we can add unknown or we can drop .since the no. of missing values are more so its best we drop it
df.drop('Cabin',axis=1,inplace=True)

In [ ]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [ ]:
#check duplicate values
df.duplicated().sum()

0

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [ ]:
#replace 'S' & 'C' in embarked
df['Embarked'].replace({'S':'SouthHampton','C':'California'},inplace=True)

<ipython-input-26-ce2cbe204c31>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].replace({'S':'SouthHampton','C':'California'},inplace=True)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,SouthHampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,California
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,SouthHampton
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,SouthHampton
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,SouthHampton

In [ ]:
df['Sex'].replace({'male':'M','female':'F'},inplace=True)

<ipython-input-28-99b9d82d38aa>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sex'].replace({'male':'M','female':'F'},inplace=True)

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",M,22.0,1,0,A/5 21171,7.2500,SouthHampton
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.2833,California
2,3,1,3,"Heikkinen, Miss. Laina",F,26.0,0,0,STON/O2. 3101282,7.9250,SouthHampton
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.1000,SouthHampton
4,5,0,3,"Allen, Mr. William Henry",M,35.0,0,0,373450,8.0500,SouthHampton

Now that we have completed the cleaning ..Its important that the Well prepared data is key to accurate & meaningful insights.

**Data Manipulation**

In [ ]:
#What is the avergae age of passengers on the titanic?
print("Avergae age of passengers on the titanic:",df['Age'].mean())

Avergae age of passengers on the titanic: 29.69911764705882

In [ ]:
#How much total Fare was paid by passengers?
print("Total Fare paid by passengers:",df['Fare'].sum())

Total Fare paid by passengers: 28693.9493

In [ ]:
#Determine the family size of each passengers by adding the 'SibSp'(Siblings/Spouses) and 'Parch'(parents/Childrens)columns.
df['FamilySize']=df['SibSp']+df['Parch']
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",M,22.0,1,0,A/5 21171,7.2500,SouthHampton,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.2833,California,1
2,3,1,3,"Heikkinen, Miss. Laina",F,26.0,0,0,STON/O2. 3101282,7.9250,SouthHampton,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.1000,SouthHampton,1
4,5,0,3,"Allen, Mr. William Henry",M,35.0,0,0,373450,8.0500,SouthHampton,0

In [ ]:
#Calculate the survival rate (percentage of passengers who survived).
survived_df=df[df['Survived']==1] #conditional based filtering
survived_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",F,38.0,1,0,PC 17599,71.2833,California,1
2,3,1,3,"Heikkinen, Miss. Laina",F,26.0,0,0,STON/O2. 3101282,7.9250,SouthHampton,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",F,35.0,1,0,113803,53.1000,SouthHampton,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",F,27.0,0,2,347742,11.1333,SouthHampton,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",F,14.0,1,0,237736,30.0708,California,1
...,...,...,...,...,...,...,...,...,...,...,...,...
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",F,15.0,0,0,2667,7.2250,California,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",F,56.0,0,1,11767,83.1583,California,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",F,25.0,0,1,230433,26.0000,SouthHampton,1
887,888,1,1,"Graham, Miss. Margaret Edith",F,19.0,0,0,112053,30.0000,SouthHampton,0
889,890,1,1,"Behr, Mr. Karl Howell",M,26.0,0,0,111369,30.0000,California,0

In [ ]:
#also i can use it through loc method (survived_df.loc[:,'Survived'].sum()*100/df.shape[0])
survival_rate=survived_df.shape[0]/df.shape[0]*100
print("Survival Rate:",survival_rate)

Survival Rate: 38.38383838383838

In [ ]:
#who are the passengers under the age of 18?
df[df['Age']<18]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
7,8,0,3,"Palsson, Master. Gosta Leonard",M,2.0,3,1,349909,21.0750,SouthHampton,4
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",F,14.0,1,0,237736,30.0708,California,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",F,4.0,1,1,PP 9549,16.7000,SouthHampton,2
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",F,14.0,0,0,350406,7.8542,SouthHampton,0
16,17,0,3,"Rice, Master. Eugene",M,2.0,4,1,382652,29.1250,Q,5
...,...,...,...,...,...,...,...,...,...,...,...,...
850,851,0,3,"Andersson, Master. Sigvard Harald Elias",M,4.0,4,2,347082,31.2750,SouthHampton,6
852,853,0,3,"Boulos, Miss. Nourelain",F,9.0,1,1,2678,15.2458,California,2
853,854,1,1,"Lines, Miss. Mary Conover",F,16.0,0,1,PC 17592,39.4000,SouthHampton,1
869,870,1,3,"Johnson, Master. Harold Theodor",M,4.0,1,1,347742,11.1333,SouthHampton,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",F,15.0,0,0,2667,7.2250,California,0

In [ ]:
#create a subset of data containing only the following columns:'Name','Age','Sex','Survived','FamilySize'.
df.loc[:,['Name','Age','Sex','Survived','FamilySize']] #label based slicing

,Name,Age,Sex,Survived,FamilySize
0,"Braund, Mr. Owen Harris",22.000000,M,0,1
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,F,1,1
2,"Heikkinen, Miss. Laina",26.000000,F,1,0
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,F,1,1
4,"Allen, Mr. William Henry",35.000000,M,0,0
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",27.000000,M,0,0
887,"Graham, Miss. Margaret Edith",19.000000,F,1,0
888,"Johnston, Miss. Catherine Helen ""Carrie""",29.699118,F,0,3
889,"Behr, Mr. Karl Howell",26.000000,M,1,0
890,"Dooley, Mr. Patrick",32.000000,M,0,0

In [ ]:
df.loc[:5,['Name','Age','Sex','Survived','FamilySize']]

,Name,Age,Sex,Survived,FamilySize
0,"Braund, Mr. Owen Harris",22.000000,M,0,1
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.000000,F,1,1
2,"Heikkinen, Miss. Laina",26.000000,F,1,0
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.000000,F,1,1
4,"Allen, Mr. William Henry",35.000000,M,0,0
5,"Moran, Mr. James",29.699118,M,0,0

In [ ]:
df.iloc[:5,:2] #index based slicing

   PassengerId  Survived
0            1         0
1            2         1
2            3         1
3            4         1
4            5         0

In [ ]:
#Oldest Passenger
oldest_passenger=df.loc[df['Age'].idxmax()]
print("Oldest Passenger:\n", oldest_passenger)

Oldest Passenger:
 PassengerId                                     631
Survived                                          1
Pclass                                            1
Name           Barkworth, Mr. Algernon Henry Wilson
Sex                                               M
Age                                            80.0
SibSp                                             0
Parch                                             0
Ticket                                        27042
Fare                                           30.0
Embarked                               SouthHampton
FamilySize                                        0
Name: 630, dtype: object

In [ ]:
#youngest Passenger
df.loc[df['Age'].idxmin()]

PassengerId                                804
Survived                                     1
Pclass                                       3
Name           Thomas, Master. Assad Alexander
Sex                                          M
Age                                       0.42
SibSp                                        0
Parch                                        1
Ticket                                    2625
Fare                                    8.5167
Embarked                            California
FamilySize                                   1
Name: 803, dtype: object

In [ ]:
#Gender ratio
No_of_male=df[df['Sex']=='M']
No_of_female=df[df['Sex']=='F']
print("No. of male passengers:",No_of_male.shape[0])
print("No. of female passengers:",No_of_female.shape[0])

No. of male passengers: 577
No. of female passengers: 314

In [ ]:
#male & female percentage
male_perc=No_of_male.shape[0]/df.shape[0]*100
female_perc=No_of_female.shape[0]/df.shape[0]*100
print("Percentage of male passengers:",male_perc)
print("Percentage of female passengers:",female_perc)

Percentage of male passengers: 64.75869809203144
Percentage of female passengers: 35.24130190796858