In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
# reading data
df=pd.read_csv(r"C:\Users\Mir Abdul Malique\Downloads\police.csv")
df.head()

,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [3]:
df.shape

(91741, 15)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91741 entries, 0 to 91740
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   stop_date           91741 non-null  object
 1   stop_time           91741 non-null  object
 2   county_name         0 non-null      float64
 3   driver_gender       86406 non-null  object
 4   driver_age_raw      86414 non-null  float64
 5   driver_age          86120 non-null  float64
 6   driver_race         86408 non-null  object
 7   violation_raw       86408 non-null  object
 8   violation           86408 non-null  object
 9   search_conducted    91741 non-null  bool
 10  search_type         3196 non-null   object
 11  stop_outcome        86408 non-null  object
 12  is_arrested         86408 non-null  object
 13  stop_duration       86408 non-null  object
 14  drugs_related_stop  91741 non-null  bool
dtypes: bool(2), float64(3), object(10)
memory usage: 9.3+ MB

In [5]:
df.isna().sum()

stop_date                 0
stop_time                 0
county_name           91741
driver_gender          5335
driver_age_raw         5327
driver_age             5621
driver_race            5333
violation_raw          5333
violation              5333
search_conducted          0
search_type           88545
stop_outcome           5333
is_arrested            5333
stop_duration          5333
drugs_related_stop        0
dtype: int64

In [6]:
df.describe()

       county_name  driver_age_raw    driver_age
count          0.0    86414.000000  86120.000000
mean           NaN     1970.491228     34.011333
std            NaN      110.914909     12.738564
min            NaN        0.000000     15.000000
25%            NaN     1967.000000     23.000000
50%            NaN     1980.000000     31.000000
75%            NaN     1987.000000     43.000000
max            NaN     8801.000000     99.000000

In [7]:
df.columns

Index(['stop_date', 'stop_time', 'county_name', 'driver_gender',
       'driver_age_raw', 'driver_age', 'driver_race', 'violation_raw',
       'violation', 'search_conducted', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration', 'drugs_related_stop'],
      dtype='object')

In [8]:
d=df[['driver_age','driver_gender','stop_duration','drugs_related_stop']]
d

       driver_age driver_gender stop_duration  drugs_related_stop
0            20.0             M      0-15 Min               False
1            40.0             M      0-15 Min               False
2            33.0             M      0-15 Min               False
3            19.0             M     16-30 Min               False
4            21.0             F      0-15 Min               False
...           ...           ...           ...                 ...
91736        29.0             M      0-15 Min               False
91737        33.0             F      0-15 Min               False
91738        23.0             M      0-15 Min               False
91739        22.0             M      0-15 Min               False
91740        56.0             M      0-15 Min               False

[91741 rows x 4 columns]

In [9]:
df['violation'].unique()

array(['Speeding', 'Other', 'Equipment', 'Moving violation', nan,
       'Registration/plates', 'Seat belt'], dtype=object)

In [10]:
df['violation'].value_counts()

violation
Speeding               48463
Moving violation       16224
Equipment              11020
Other                   4317
Registration/plates     3432
Seat belt               2952
Name: count, dtype: int64

In [11]:
df=df.drop(['county_name'],axis=1)

In [12]:
df

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,2005-01-02,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,2005-01-18,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,2005-01-23,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2005-02-20,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,2005-03-14,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91736,2015-12-31,20:27,M,1986.0,29.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False
91737,2015-12-31,20:35,F,1982.0,33.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
91738,2015-12-31,20:45,M,1992.0,23.0,White,Other Traffic Violation,Moving violation,False,NaN,Warning,False,0-15 Min,False
91739,2015-12-31,21:42,M,1993.0,22.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
91740,2015-12-31,22:46,M,1959.0,56.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [13]:
df_f=df.select_dtypes(include="float")
df_f

       driver_age_raw  driver_age
0              1985.0        20.0
1              1965.0        40.0
2              1972.0        33.0
3              1986.0        19.0
4              1984.0        21.0
...               ...         ...
91736          1986.0        29.0
91737          1982.0        33.0
91738          1992.0        23.0
91739          1993.0        22.0
91740          1959.0        56.0

[91741 rows x 2 columns]

In [14]:
df_n=df.select_dtypes(np.number)
df_n

       driver_age_raw  driver_age
0              1985.0        20.0
1              1965.0        40.0
2              1972.0        33.0
3              1986.0        19.0
4              1984.0        21.0
...               ...         ...
91736          1986.0        29.0
91737          1982.0        33.0
91738          1992.0        23.0
91739          1993.0        22.0
91740          1959.0        56.0

[91741 rows x 2 columns]

In [15]:
df[['driver_race','violation_raw']].value_counts()

driver_race  violation_raw
White        Speeding                            38659
             Other Traffic Violation             10547
             Equipment/Inspection Violation       6455
Black        Speeding                             5038
Hispanic     Speeding                             3093
Black        Other Traffic Violation              2883
Hispanic     Other Traffic Violation              2408
Black        Equipment/Inspection Violation       2202
Hispanic     Equipment/Inspection Violation       2146
White        Seatbelt Violation                   1891
             Registration Violation               1872
Asian        Speeding                             1526
White        Special Detail/Directed Patrol       1457
             Call for Service                      878
Black        Registration Violation                784
Hispanic     Registration Violation                716
Black        Special Detail/Directed Patrol        623
Hispanic     Seatbelt Violation                    551
Black        Seatbelt Violation                    450
Asian        Other Traffic Violation               334
Hispanic     Special Detail/Directed Patrol        315
             Call for Service                      208
Asian        Equipment/Inspection Violation        201
Black        Call for Service                      178
White        Violation of City/Town Ordinance      154
Other        Speeding                              147
White        Motorist Assist/Courtesy              139
Asian        Seatbelt Violation                     58
             Registration Violation                 58
White        APB                                    56
Other        Other Traffic Violation                52
Asian        Special Detail/Directed Patrol         45
White        Suspicious Person                      41
Black        Violation of City/Town Ordinance       35
             Motorist Assist/Courtesy               33
Asian        Call for Service                       29
Hispanic     Motorist Assist/Courtesy               25
             Violation of City/Town Ordinance       21
Other        Equipment/Inspection Violation         16
             Special Detail/Directed Patrol         15
Black        APB                                    12
Hispanic     APB                                    11
             Suspicious Person                      10
White        Warrant                                 9
Other        Call for Service                        5
Asian        Motorist Assist/Courtesy                5
Black        Suspicious Person                       4
Hispanic     Warrant                                 3
Other        Registration Violation                  2
             Seatbelt Violation                      2
Black        Warrant                                 2
Other        Motorist Assist/Courtesy                1
Asian        Warrant                                 1
             Violation of City/Town Ordinance        1
             Suspicious Person                       1
Name: count, dtype: int64

In [16]:
df_o=df.select_dtypes(include="object")

In [17]:
df_o.columns

Index(['stop_date', 'stop_time', 'driver_gender', 'driver_race',
       'violation_raw', 'violation', 'search_type', 'stop_outcome',
       'is_arrested', 'stop_duration'],
      dtype='object')

In [18]:
#converting object ito datetime
df['stop_date']=pd.to_datetime(df['stop_date'])

In [19]:
df['stop_time'] = pd.to_datetime(df['stop_time'], format="%H:%M").dt.time

In [20]:
df_o=df.select_dtypes(include="object")

In [21]:
df_o.columns

Index(['stop_time', 'driver_gender', 'driver_race', 'violation_raw',
       'violation', 'search_type', 'stop_outcome', 'is_arrested',
       'stop_duration'],
      dtype='object')

In [22]:
df['stop_time'] = pd.to_datetime(df['stop_time'], format="%H:%M").dt.strftime("%H:%M")

ValueError: unconverted data remains when parsing with format "%H:%M": ":00", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [ ]:
df['stop_time']

In [ ]:
df_o.info()

In [ ]:
for i in df_o:
    print("************************************")
    print(df[i].value_counts())

In [ ]:
df['driver_age'].min()

In [ ]:
df['driver_age'].max()

In [ ]:
df_s=df.nsmallest(4,'driver_age')

In [ ]:
df_s.shape

In [ ]:
df_l=df.nlargest(3,'driver_age')

In [ ]:
df_l

In [ ]:
df['violation_raw'].unique()

In [ ]:
df['violation_raw'].nunique()

In [ ]:
df['driver_age'].value_counts()

In [ ]:
min_age = df['driver_age'].min()
min_age_count=df['driver_age'].value_counts()[min_age]
print(min_age_count)

In [ ]:
df.query('driver_age==15')

In [ ]:
df.query('driver_age==15').count()

In [ ]:
df['driver_age'].value_counts()[15]

In [ ]:
df['driver_race']['White']

In [ ]:
df['driver_race'].unique()

In [ ]:
df['driver_race'].value_counts()['Asian']

In [ ]:
df.groupby('driver_race').get_group('Asian')

In [ ]:
#one liener
c=['White','Asian']
grouped=df.groupby('driver_race')
groups=[grouped.get_group(cat) for cat in c]
pd.concat(groups)

In [ ]:
#beginner way
c=['White', 'Asian']
grouped = df.groupby('driver_race')
filter=[]
for i in c:
    group = grouped.get_group(i)
    filter.append(group)

In [ ]:
pd.concat(filter)

In [ ]:
filtered_df = df.groupby('driver_race').filter(lambda x: x.name in ['Asian', 'White'])

In [ ]:
filtered_df

In [ ]:
fil_df = df[df['driver_race'].isin(['Asian', 'White'])]

In [ ]:
fil_df

## Data Slicing

In [ ]:
#
df.loc[:10,['driver_gender','driver_age','driver_race','violation',]]

In [ ]:
df.iloc[:4,[4,6]]

In [ ]:
#first 10 rows of all the columns
#df.iloc[rows,columns]
df.iloc[0:10,0:14]

In [ ]:
df.iloc[0:10,:]

In [ ]:
df.iloc[100:,:]

In [ ]:
#use iloc
#show the data from 100 to 150 of all the columns
#show the data from 100 to the end of the columns
#show the data from 100 to the end of the rows, columns starting from index 3 i.e driver_gender till 14 i.e stop_outcome
#show the data of all the rows of only driver_gender, driver_race, and stop_time column

df.iloc[100:151,:]

In [ ]:
df.iloc[100:,:]

In [ ]:
df.iloc[100:,3:14]

In [ ]:
df.iloc[:,[1,2,5]]

In [ ]:
df.iloc[:,[2,5,1]]

In [ ]:
#drop all the rows conatining missing values
df=df.dropna()

In [ ]:
df.sort_values(by='driver_age', ascending=False)

In [ ]:
df.iloc[100:25000,:].sort_values(by='driver_age')

In [ ]:
df.query('45<driver_age<50')

In [23]:
# identify no.of duplicate values
df.duplicated().sum()

479

In [28]:
#drop duplicate
df.drop_duplicates(inplace=True)

In [29]:
df.duplicated().sum()

0