In [1]:
import pandas as pd
import numpy as np

In [2]:
my_dict={'EmpID':[1,3,2,4,5,6,7,8,9,10],'MonthlySalary':[90,18,80,18,17,16,16,16,15,14]}

In [3]:
df=pd.DataFrame(my_dict)

In [4]:
df

   EmpID  MonthlySalary
0      1             90
1      3             18
2      2             80
3      4             18
4      5             17
5      6             16
6      7             16
7      8             16
8      9             15
9     10             14

In [5]:
df['MonthlySalary'].mean()

30.0

In [6]:
df['MonthlySalary'].median()

16.5

In [7]:
df['MonthlySalary'].mode()

0    16
Name: MonthlySalary, dtype: int64

In [8]:
df['MonthlySalary'].std()

29.10899059282773

In [9]:
df['MonthlySalary'].var()

847.3333333333334

In [10]:
df['MonthlySalary'].describe()

count    10.000000
mean     30.000000
std      29.108991
min      14.000000
25%      16.000000
50%      16.500000
75%      18.000000
max      90.000000
Name: MonthlySalary, dtype: float64

In [11]:
df['MonthlySalary'].quartile()

AttributeError: 'Series' object has no attribute 'quartile'

In [ ]:
help(np)

In [ ]:
range=np.max(df['MonthlySalary'])-np.min(df['MonthlySalary'])

In [ ]:
range

In [ ]:
df['MonthlySalary'].quantile([.25,.5,.75])

In [ ]:
import seaborn as sns
boxplot=sns.boxplot(x=df['MonthlySalary'],data=df)

In [12]:
df['MonthlySalary'].skew()

1.799917597782476

In [13]:
df['MonthlySalary'].kurt()

1.5919192609678365

In [16]:
df1=pd.read_csv(r"C:\Users\Mir Abdul Malique\Downloads\bank-full.csv",sep=';')

In [17]:
df1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,durations,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45210 entries, 0 to 45209
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45210 non-null  int64
 1   job        45210 non-null  object
 2   marital    45210 non-null  object
 3   education  45210 non-null  object
 4   default    45210 non-null  object
 5   balance    45210 non-null  int64
 6   housing    45210 non-null  object
 7   loan       45210 non-null  object
 8   contact    45210 non-null  object
 9   day        45210 non-null  int64
 10  month      45210 non-null  object
 11  durations  45210 non-null  int64
 12  campaign   45210 non-null  int64
 13  pdays      45210 non-null  int64
 14  previous   45210 non-null  int64
 15  poutcome   45210 non-null  object
 16  y          45210 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

In [31]:
df1.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
durations    0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [34]:
df1.select_dtypes(include="int").describe()

,age,balance,day,durations,campaign,pdays,previous
count,45210.000000,45210.000000,45210.000000,45210.000000,45210.000000,45210.000000,45210.000000
mean,40.936297,1362.236474,15.806392,258.160805,2.763858,40.194559,0.580093
std,10.618863,3044.790103,8.322566,257.530206,3.098053,100.127440,2.302945
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1427.750000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [35]:
df1.select_dtypes(include="int").median()

age           39.0
balance      448.0
day           16.0
durations    180.0
campaign       2.0
pdays         -1.0
previous       0.0
dtype: float64

In [37]:
df_dt=df1.select_dtypes(include="int")

In [39]:
#if the correlation is more than .85 i.e strong correlation 
#if the correlation is less than .4 i.e weak corelation
#between .85 & .4 i.e moderate correlation
df_dt.Corr()

,age,balance,day,durations,campaign,pdays,previous
age,1.000000,0.097788,-0.009119,-0.004645,0.004758,-0.023747,0.001326
balance,0.097788,1.000000,0.004501,0.021556,-0.014575,0.003418,0.016625
day,-0.009119,0.004501,1.000000,-0.030208,0.162491,-0.093051,-0.051737
durations,-0.004645,0.021556,-0.030208,1.000000,-0.084568,-0.001578,0.001163
campaign,0.004758,-0.014575,0.162491,-0.084568,1.000000,-0.088622,-0.032838
pdays,-0.023747,0.003418,-0.093051,-0.001578,-0.088622,1.000000,0.454786
previous,0.001326,0.016625,-0.051737,0.001163,-0.032838,0.454786,1.000000

In [44]:
df1.query('housing == Yes')

UndefinedVariableError: name 'Yes' is not defined